.category-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #565656;
}
.grid-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin-top: -4rem;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display 3 columns with equal width */
  gap: 2rem; /* Add some gap between cards */
  margin-bottom: 3rem;


}
.cards1{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display 3 columns with equal width */
  gap: 2rem; /* Add some gap between cards */
  margin-bottom: 3rem;
  margin-left: 18rem;


}
.category-container h1{
  font-family: 'Poppins';
  font-size: 2rem;
  color: white;
  margin-bottom: 6rem;
}